a for loop  genrally used when you know the number of iteration beforehand

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

a while loop used when the number of iteration is not know beforehand

In [1]:
a = 1
while a<=5:
    print(a)
    a = a+1

1
2
3
4
5

In [ ]:
a = 1
s = 0
product = 1
while a<=10:
    s = s+

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [2]:
sum_for = 0
product_for = 1
for i in range(1,11):
    sum_for += i
    product_for *=i 
print("using for loop")    
print(sum_for) 
print(product_for)

using for loop
55
3628800

In [6]:
sum_for = 0
product_for = 1
counter = 1
while counter<=10:
        sum_for += counter
        product_for *=counter
        counter += 1 
print("using while loop")    
print(sum_for) 
print(product_for)

using for loop
55
3628800

In [5]:
units = int(input("Enter the number of units consumed: "))

if units <= 100:
    total_bill = units * 4.5
elif units <= 200:
    total_bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Total bill: Rs.", total_bill)

Enter the number of units consumed:  310

Total bill: Rs. 2250.0

In [6]:
# Using for loop
cubes_divisible_by_4_or_5 = []

for num in range(1, 101):
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible_by_4_or_5.append(num)

print("Numbers whose cubes are divisible by 4 or 5:", cubes_divisible_by_4_or_5)

Numbers whose cubes are divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [3]:
cube_list = []
num = 1
while num <=100:
    cube = num **3
    if cube % 4==0 or cube %5==0:
        cube_list.append(num)
    num += 1
print("nubers whose cubes are divisible by 4 or 5", cube_list)

nubers whose cubes are divisible by 4 or 5 [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [4]:
cube_list = []
for num in range(1,101):
    cube = num **3
    if cube % 4==0 or cube %5==0:
        cube_list.append(num)
print("nubers whose cubes are divisible by 4 or 5", cube_list)

nubers whose cubes are divisible by 4 or 5 [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [3]:
string = "I want to become a data scientist"
vowels = {'a', 'e','i','o','u'} # every item in the set is uniqe
vowel_count = 0
for char in string:
    if char.lower() in vowels: # case insensitive comparison 
        vowel_count += 1
print("number of vowels in the string", vowel_count)

number of vowels in the string 12